!.gitignore
!README.md
Misc/**
Deployments/Certs/**
*.kubeconfig
*.kubeconfig
Deployments/Setup/capz-workshop-cluster.kubeconfig
*.kubeconfig
Deployments/Setup/capz-workshop-cluster.kubeconfig
Deployments/Setup/log.txt
